body{
    background-color: #6f0808 ;
}

.card{
    margin-top: 120px;
    margin-left: 400px;
    border-radius: 20px;
    padding-left: 150px;
    padding-right: 10px;
    background-color: #ffffff;
}

.img {
margin-top:20PX ;
height: 340px;
width: 340px;
position: absolute; 
right: -50px;
}

.d-flex{
    left: -13px;
}
